.icon-InfiniteScroll {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/virtualScroll.svg");
  background-position: center;
}

.icon-default {
  background-image: url("cdn/stechq.github.io/cdn/Idetemplates/default-component.svg");
}

.icon-VProgressCircular {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/progressCircular.svg");
  background-position: center;
}

.icon-VProgressLinear {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/progressLinear.svg");
  background-position: center;
}

.icon-VRangeSlider {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/rangeSlider.svg");
  background-position: center;
}

.icon-VRating {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/rating.svg");
  background-position: center;
}

.icon-VSlideGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/slideGroup.svg");
  background-position: center;
}

.icon-VSlideItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/slideItem.svg");
  background-position: center;
}

.icon-VSlider {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/slider.svg");
  background-position: center;
}

.icon-VSnackbar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/snackBar.svg");
  background-position: center;
}

.icon-VToolbar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/toolBar.svg");
  background-position: center;
}

.icon-VCarousel {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/carousel.svg");
  background-position: center;
}

.icon-VCarouselItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBars&Sliders/carouselItem.svg");
  background-position: center;
}

.icon-CustomChild {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/BaseFields.svg");
  background-position: center;
}

.icon-QCaptcha {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/captcha.svg");
  background-position: center;
}

.icon-QDocumentViewer {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/documentViewer.svg");
  background-position: center;
}

.icon-QDynamicFields {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/BaseFields.svg");
  background-position: center;
}

.icon-QFrame {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/frame.svg");
  background-position: center;
}

.icon-QImgZoom {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/imageZoom.svg");
  background-position: center;
}

.icon-QLegend {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/BaseFields.svg");
  background-position: center;
}

.icon-QOtp {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/otp.svg");
  background-position: center;
}

.icon-QPhoneInput {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/phoneInput.svg");
  background-position: center;
}

.icon-QQRCode {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/QRCode.svg");
  background-position: center;
}

.icon-QQrReader {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/QRReader.svg");
  background-position: center;
}

.icon-QReCaptcha {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/RECaptcha.svg");
  background-position: center;
}

.icon-QVideo {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupBaseFields/video.svg");
  background-position: center;
}

.icon-VEditDialog {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/editDialog.svg");
  background-position: center;
}

.icon-VExpansionPanel {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/expansionPanel.svg");
  background-position: center;
}

.icon-VExpansionPanelContent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/expansionPanelContent.svg");
  background-position: center;
}

.icon-VExpansionPanelHeader {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/expansionPanelHeader.svg");
  background-position: center;
}

.icon-VExpansionPanels {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/expansionPanels.svg");
  background-position: center;
}

.icon-VMenu {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCapsules/toggleMenu.svg");
  background-position: center;
}

.icon-QPieChart {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCharts/pie.svg");
  background-position: center;
}

.icon-Bar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCharts/bar.svg");
  background-position: center;
}

.icon-Doughnut {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCharts/doughnut.svg");
  background-position: center;
}

.icon-Line {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCharts/line.svg");
  background-position: center;
}

.icon-VSparkline {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupCharts/sparkline.svg");
  background-position: center;
}

.icon-LiveConnection {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupData/liveConnection.svg");
  background-position: center;
}

.icon-DxRowDragging {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Data.svg");
  background-position: center;
}

.icon-DxStateStoring {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Data.svg");
  background-position: center;
}

.icon-DxTotalItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Data.svg");
  background-position: center;
}

.icon-DxTreeList {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupData/DxTreeList.svg");
  background-position: center;
}

.icon-QLightBox {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Dialogs.svg");
  background-position: center;
}

.icon-VBottomSheet {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupDialogs/bottomSheet.svg");
  background-position: center;
}

.icon-VDialog {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupDialogs/dialog.svg");
  background-position: center;
}

.icon-VOverlay {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupDialogs/overlay.svg");
  background-position: center;
}

.icon-QLabel {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/text.svg");
  background-position: center;
}

.icon-QRichText {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/richText.svg");
  background-position: center;
}

.icon-QRichContent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/richText.svg");
  background-position: center;
}

.icon-QTutorial {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/tutorial.svg");
  background-position: center;
}

.icon-VInlineDatepicker {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/inlineDatePicker.svg");
  background-position: center;
}

.icon-VInlineTimePicker {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/inlineTimePicker.svg");
  background-position: center;
}

.icon-VAutocomplete {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/autocomplete.svg");
  background-position: center;
}

.icon-VBtn {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/button.svg");
  background-position: center;
}

.icon-VBtnToggle {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/buttonToggle.svg");
  background-position: center;
}

.icon-VCalendar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/calendar.svg");
  background-position: center;
}

.icon-QAppointmentCalendar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/calendar.svg");
  background-position: center;
}

.icon-VCheckbox {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/checkbox.svg");
  background-position: center;
}

.icon-VCombobox {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/combobox.svg");
  background-position: center;
}

.icon-VDatePicker {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/datePicker.svg");
  background-position: center;
}

.icon-VFileInput {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/fileInput.svg");
  background-position: center;
}

.icon-VForm {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/form.svg");
  background-position: center;
}

.icon-VIcon {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/icon.svg");
  background-position: center;
}

.icon-VImg {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/image.svg");
  background-position: center;
}

.icon-VOverflowBtn {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Forms.svg");
  background-position: center;
}

.icon-VRadio {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/radio.svg");
  background-position: center;
}

.icon-VRadioGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/radioGroup.svg");
  background-position: center;
}

.icon-VSelect {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/select.svg");
  background-position: center;
}

.icon-VSpeedDial {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/speedDial.svg");
  background-position: center;
}

.icon-VSwitch {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/switch.svg");
  background-position: center;
}

.icon-VTextField {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/textField.svg");
  background-position: center;
}

.icon-VTextarea {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/textArea.svg");
  background-position: center;
}

.icon-VTimePicker {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupForms/timePicker.svg");
  background-position: center;
}

.icon-GoldenLayout {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-VContainer {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLayout/container.svg");
  background-position: center;
}

.icon-VRow {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLayout/row.svg");
  background-position: center;
}

.icon-VFooter {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLayout/footer.svg");
  background-position: center;
}

.icon-VList {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/list.svg");
  background-position: center;
}

.icon-VListGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listGroup.svg");
  background-position: center;
}

.icon-VListItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItem.svg");
  background-position: center;
}

.icon-VListItemAction {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemAction.svg");
  background-position: center;
}

.icon-VListItemActionText {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemActionText.svg");
  background-position: center;
}

.icon-VListItemAvatar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemAvatar.svg");
  background-position: center;
}

.icon-VListItemContent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemContent.svg");
  background-position: center;
}

.icon-VListItemIcon {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemIcon.svg");
  background-position: center;
}

.icon-VListItemTitle {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemTitle.svg");
  background-position: center;
}

.icon-VListItemSubtitle {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemSubtitle.svg");
  background-position: center;
}

.icon-VListItemGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/listItemGroup.svg");
  background-position: center;
}

.icon-VTreeview {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupLists/treeview.svg");
  background-position: center;
}

.icon-VBreadcrumbs {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/breadCrumbs.svg");
  background-position: center;
}

.icon-VBreadcrumbsItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/breadCrumbsItem.svg");
  background-position: center;
}

.icon-VAppBar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/appBar.svg");
  background-position: center;
}

.icon-QMenu {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/sidebarMenu.svg");
  background-position: center;
}

.icon-VNavigationDrawer {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/navigationDrawer.svg");
  background-position: center;
}

.icon-VBottomNavigation {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNavigation/bottomNavigation.svg");
  background-position: center;
}

.icon-VAlert {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNotice/alert.svg");
  background-position: center;
}

.icon-Tooltip {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNotice/tooltip.svg");
  background-position: center;
}

.icon-VBadge {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupNotice/badge.svg");
  background-position: center;
}

.icon-QTimer {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupQuick/timer.svg");
  background-position: center;
}

.icon-QIdleTimer {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupQuick/idleTimer.svg");
  background-position: center;
}

.icon-Messaging {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupQuick/pageComponent.svg");
  background-position: center;
}

.icon-RenderingComponent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupQuick/renderingComponent.svg");
  background-position: center;
}

.icon-CustomComponent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Quick.svg");
  background-position: center;
}

.icon-VStepper {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/stepper.svg");
  background-position: center;
}

.icon-VStepperContent {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/stepperContent.svg");
  background-position: center;
}

.icon-VStepperHeader {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/stepperHeader.svg");
  background-position: center;
}

.icon-VStepperItems {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/stepperItems.svg");
  background-position: center;
}

.icon-VStepperStep {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/stepperStep.svg");
  background-position: center;
}

.icon-VTab {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/tab.svg");
  background-position: center;
}

.icon-VTabItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/tabItem.svg");
  background-position: center;
}

.icon-VTabs {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/tabs.svg");
  background-position: center;
}

.icon-VTabsItems {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Tab.svg");
  background-position: center;
}

.icon-VTabsSlider {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Tab.svg");
  background-position: center;
}

.icon-VTimeline {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/timeline.svg");
  background-position: center;
}

.icon-VTimelineItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTab&Stepper/timelineItem.svg");
  background-position: center;
}

.icon-DxDataGrid {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTable/DxDataGrid.svg");
  background-position: center;
}

.icon-VDataIterator {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTable/dataIterator.svg");
  background-position: center;
}

.icon-VDataTable {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTable/dataTable.svg");
  background-position: center;
}

.icon-QTableCell {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTable/tableCell.svg");
  background-position: center;
}

.icon-VPagination {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupTable/pagination.svg");
  background-position: center;
}

.icon-VAvatar {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/avatar.svg");
  background-position: center;
}

.icon-VBanner {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/banner.svg");
  background-position: center;
}

.icon-VCard {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/card.svg");
  background-position: center;
}

.icon-VChip {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/chip.svg");
  background-position: center;
}

.icon-VChipGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/chipGroup.svg");
  background-position: center;
}

.icon-VVirtualScroll {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/virtualScroll.svg");
  background-position: center;
}

.icon-VDivider {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/divider.svg");
  background-position: center;
}

.icon-VParallax {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/parallax.svg");
  background-position: center;
}

.icon-VSheet {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/sheet.svg");
  background-position: center;
}

.icon-QMap {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/map.svg");
  background-position: center;
}

.icon-VSkeletonLoader {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/skeletonLoader.svg");
  background-position: center;
}

/* components hidden in the editor */
.icon-DataGrid {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxColumn {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Table.svg");
  background-position: center;
}

.icon-DxColumnChooser {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxColumnFixing {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxExport {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxFilterRow {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxHeaderFilter {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxMasterDetail {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxPager {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxPaging {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxScrolling {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxSearchPanel {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxSelection {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxSorting {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-DxSummary {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-VBanner {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-VCarouselItem {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-VChipGroup {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-VVirtualScroll {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/Others.svg");
  background-position: center;
}

.icon-QAnimation {
  background-image: url("cdn/stechq.github.io/cdn/component-icons/groupOthers/Animation.svg");
  background-position: center;
}
