.v-application,
.v-application input,
.v-application select,
.v-application textarea { font-family:'Comic Sans MS', sans-serif !important; font-size:16px !important; background-color: lightblue !important; }

body .v-application .primary--text { color:#14B5D0 !important; caret-color:#14B5D0 !important; }
body .v-application .accent--text { color:#14B5D0 !important; caret-color:#14B5D0 !important; }
body .v-application .info--text { color:#4A90E2 !important; caret-color:#4A90E2 !important; }
body .v-application .success--text { color:#36AF47 !important; caret-color:#36AF47 !important; }
body .v-application .warning--text { color:#F7981C !important; caret-color:#F7981C !important; }
body .v-application .error--text { color:#ED1C24 !important; caret-color:#ED1C24 !important; }

body .v-application .primary { background-color:#580663 !important; border-color:#b892ca !important; }
body .v-application .accent { background-color:#14B5D0 !important; border-color:#14B5D0 !important; }
body .v-application .info { background-color:#4A90E2 !important; border-color:#4A90E2 !important; }
body .v-application .success { background-color:#36AF47 !important; border-color:#36AF47 !important; }
body .v-application .warning { background-color:#F7981C !important; border-color:#F7981C !important; }
body .v-application .error { background-color:#ED1C24 !important; border-color:#ED1C24 !important; }
body .v-application .dark { background-color:#354052 !important; border-color:#354052 !important; }

body .v-application .v-btn.dark { color:#ffffff !important; background:#354052 !important; border-color:#354052 !important; }

body .v-application .v-btn.sftt-btn-grd:not(.v-btn--outlined) { background:#fefefe !important; background:linear-gradient(180deg ,#fefefe 0% ,#ebeef3 100%) !important; border-color:#ced0da !important; }
body .v-application .v-btn.sftt-btn-grd.primary { background:#22b8cd !important; background:linear-gradient(180deg ,#22b8cd 0% ,#1f9fb5 100%) !important; border-color:#1793ab !important; }
body .v-application .v-btn.sftt-btn-grd.info { background:#2086d4 !important; background:linear-gradient(180deg ,#2086d4 0% ,#2782c8 100%) !important; border-color:#1e7abf !important; }
body .v-application .v-btn.sftt-btn-grd.success { background:#279b1d !important; background:linear-gradient(180deg ,#279b1d 0% ,#26921c 100%) !important; border-color:#258632 !important; }
body .v-application .v-btn.sftt-btn-grd.warning { background:#ed902e !important; background:linear-gradient(180deg ,#ed902e 0% ,#e86826 100%) !important; border-color:#e86224 !important; }
body .v-application .v-btn.sftt-btn-grd.error { background:#ee4e56 !important; background:linear-gradient(180deg ,#ee4e56 0% ,#d4232e 100%) !important; border-color:#ce1723 !important; }

body .v-application .v-btn.v-btn--outlined { border-color:#c71010 !important; }
body .v-application .v-btn.v-btn--outlined.primary--text{ color:#d08514 !important; border-color:#14B5D0 !important; }
body .v-application .v-btn.v-btn--outlined.info--text{ color:#e2ad4a !important; border-color:#4A90E2 !important; }
body .v-application .v-btn.v-btn--outlined.success--text{ color:#36AF47 !important; border-color:#36AF47 !important; }
body .v-application .v-btn.v-btn--outlined.warning--text{ color:#F7981C !important; border-color:#F7981C !important; }
body .v-application .v-btn.v-btn--outlined.error--text{ color:#ED1C24 !important; border-color:#ED1C24 !important; }


/* icons */
body .theme--light .v-input__icon .v-icon { color:#ced0da !important; }
body .theme--light .success--text .v-input__icon .v-icon { color:#1bb934 !important; }
body .theme--light .warning--text .v-input__icon .v-icon { color:#fdc018 !important; }
body .theme--light .error--text .v-input__icon .v-icon { color:#ed1c24 !important; }

/* label */
.v-label { font-size:14px !important; }
.theme--light label { color:rgba(53, 64, 82, 0.5) !important; }
.v-application label.primary--text,
.v-application label.secondary--text { color:rgba(53, 64, 82, 0.5) !important; }

/* input */
.v-input { font-size:14px !important; }

/* text field */
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset { color:#dfe3e9 !important; }
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover fieldset { color:#ced0da !important; }
.v-text-field--outlined.v-input--is-focused fieldset,
.v-text-field--outlined.v-input--has-state fieldset { border-width:1px !important; }
.v-text-field--outlined.v-input--is-disabled > .v-input__control > .v-input__slot { background:#e9edf1; }

.theme--light.v-text-field > .v-input__control > .v-input__slot::before { border-color:#dfe3e9 !important; }
.theme--light.v-text-field > .v-input__control > .v-input__slot:hover::before { border-color:#ced0da !important; }
.v-text-field > .v-input__control > .v-input__slot:before { border-width:1px 0 0 0 !important; }
.v-text-field > .v-input__control > .v-input__slot:after { border-width:1px 0 0 0 !important; }
.theme--light.v-text-field.v-input--is-disabled .v-input__slot::before { -o-border-image:none !important; border-image:none !important; }
.theme--light.v-text-field.v-input--is-disabled .v-input__slot { background:#e9edf1; }

.theme--light.v-input input,
.theme--light.v-input textarea { color:#354052 !important; }

.v-text-field.v-text-field--enclosed .v-text-field__details { padding:0 !important; }

/* chechkbox, radio */
.theme--light .v-input--checkbox:not(.v-input--is-dirty) .v-icon,
.theme--light .v-input--selection-controls .v-radio:not(.v-item--active) .v-icon { color:#ced0da !important; }
.theme--light .v-input--selection-controls.v-input--indeterminate .v-icon { color:#14b5d0 !important; }
.theme--light .v-input--selection-controls.v-input--is-disabled .v-icon { color:rgba(0, 0, 0, 0.26) !important; }
.v-input--checkbox.v-input--is-disabled,
.v-radio.v-radio--is-disabled,
.v-input--switch.v-input--is-disabled { opacity:0.5 !important; }

/* input messages */
.theme--light.v-messages { color:rgba(53, 64, 82, 0.5) !important; }

/* slider */
body .theme--light .v-slider .v-slider__track-background { background-color:#DFE3E9 !important; }
body .theme--light .v-slider .v-slider__thumb-label { border-radius:4px !important; background-color:#353C48 !important; -webkit-transform:translateY(-10%) translateY(-6px) translateX(-50%) rotate(0deg) !important; transform:translateY(-10%) translateY(-6px) translateX(-50%) rotate(0deg) !important; }
.v-slider--horizontal .v-slider__thumb-label > * { -webkit-transform:rotate(0deg) !important; transform:rotate(0deg) !important; }

/* tabs */
.v-tab.v-tab--active { color:#354052 !important; font-weight:600; }

/* progress */
body .theme--light .v-progress-linear__background { background-color:#9B9B9B !important; }

/* breadcrumb */
a.v-breadcrumbs__item { color:#848C98 !important; font-weight:600 !important; }
.v-breadcrumbs__divider { color:#848C98 !important; }
a.v-breadcrumbs__item.v-breadcrumbs__item--disabled { color:#354052 !important; }

/* stepper */
.v-stepper { box-shadow:none !important; }
.v-stepper__header { box-shadow:none !important; }
.theme--light.v-stepper .v-stepper__step__step { color:#848C98 !important; }
.theme--light .v-stepper__step--active .v-stepper__step__step { color:#ffffff !important; }
.theme--light.v-stepper .v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) .v-stepper__step__step { border:#E6EAEE 1px solid; background:#ffffff !important; }
.theme--light .v-stepper__step--complete .v-stepper__step__step { color:#848C98 !important; border:#E6EAEE 1px solid !important; background:#ffffff !important; }
.theme--light.v-stepper .v-stepper__step--complete .v-stepper__step__step .v-icon { color:#848C98 !important; }
.theme--light.v-stepper .v-stepper__label { color:#848C98 !important; }
.theme--light.v-stepper .v-stepper__step--complete .v-stepper__label { color:#848C98 !important; }
.theme--light.v-stepper .v-stepper__step--active .v-stepper__label { color:#354052 !important; text-shadow:none; }

/* alert */
body .theme--light .v-alert { border: 1px solid #DFE2E5; }
.v-application--is-ltr .v-alert__dismissible { margin: 0 !important; }
body .theme--light .v-alert .v-btn.v-alert__dismissible { position:absolute; top:5px; right:5px; opacity:1 !important; }
.v-btn.v-btn.v-alert__dismissible,
.v-btn.v-btn.v-alert__dismissible .v-icon { color:#526279 !important; }
body .theme--light .v-alert .v-btn.v-alert__dismissible { border:none !important; opacity:0.5; background:transparent !important; }
/*body .theme--light .v-alert .v-alert__content{ color:#ffffff !important; }*/

/* buttons */
.v-btn { font-family:'Source Sans Pro', sans-serif; font-size:14px !important; font-weight:600 !important; text-transform:none !important; letter-spacing: normal !important; border:1px solid blue !important; }
.v-btn.v-btn--text { border-color:transparent !important;}
body .theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) { border-color:#dfe3e9 !important; background-color:#e9edf1 !important; }
body .theme--light .v-btn.v-btn--disabled { border-color:dfe3e9 !important; background:transparent !important; background-color:#e9edf1 !important; }

/* pagination */
.theme--light.v-pagination .v-pagination__item { outline:none !important; }

/* picker */
.v-picker.v-picker--date .v-btn { border-color:transparent !important; }
.v-picker.v-picker--date .v-btn:hover { border-color:#14B5D0 !important; }

/* accordion */
.v-expansion-panels--accordion.v-expansion-panels--flat.sftt-acctint { border:1px solid #DFE3E9; }
.v-expansion-panels--accordion.v-expansion-panels--flat.sftt-acctint .v-expansion-panel-header { background-color:#F6F9FC; }

/* table */
.v-data-table table { border:1px solid #DFE2E5 !important; border-radius:4px !important; background-color: rgb(248, 173, 74)}
.v-data-table th { font-size:0.875rem !important; }
