@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* ------------------------------- */
/*    PDS CSS CODE VERSION: 3.1    */
/* ------------------------------- */


/* PROJECT SPECIFIC VALUES: START */
:root {
  /* Primary Palette */
  /* Choosen palette: cyan */
  --primary: #1976D2;
  --primary-lighten-5: #E3F5FF;
  --primary-lighten-4: #74B5F4;
  --primary-lighten-3: #479DF2;
  --primary-lighten-2: #3E91E3;
  --primary-lighten-1: #2988E5;
  --primary-darken-1: #1568BB;
  --primary-darken-2: #1160AF;
  --primary-darken-3: #0E4C89;
  --primary-darken-4: #00205E;
  /* Secondary Palette */
  /* Choosen palette: blue-grey */
  --secondary: #607D8B;
  --secondary-lighten-5: #ECEFF1;
  --secondary-lighten-4: #CFD8DC;
  --secondary-lighten-3: #B0BEC5;
  --secondary-lighten-2: #90A4AE;
  --secondary-lighten-1: #78909C;
  --secondary-darken-1: #546E7A;
  --secondary-darken-2: #455A64;
  --secondary-darken-3: #37474F;
  --secondary-darken-4: #263238;
  /* General Palette */
  --accent: #00B8D4;
  /* cyan accent-4 */
  --error: #E96767;
  --info: #3992D8;
  --success: #58A25B;
  --warning: #DB871F;

  /* Page Background: Try to use a light tone from secondary palette. */
  --pageBackground: #FFFFFF;
  /* secondary lighten-5 */

  /* Background color of qlightbox component */
  --qlightbox-bg-color: #ECEFF1;

  /* Background color of golden layout header component */
  --goldenLayoutHeaderColor: #ECEFF1;

  /* Text on primary, secondary and general palettes */
  --darkTextColor: #000000;
  --lightTextColor: #FFFFFF;
}

/* PROJECT SPECIFIC VALUES: END */

/* STANDARD CODE FOR EVERY PLATEAU PROJECT: START */
.v-application,
.v-application input,
.v-application select,
.v-application textarea {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

body .v-application .text-h1,
body .v-application .text-h2,
body .v-application .text-h3,
body .v-application .text-h4,
body .v-application .text-h5,
body .v-application .text-h6,
body .v-application .text-display-4,
body .v-application .text-display-3,
body .v-application .text-display-2,
body .v-application .text-display-1,
body .v-application .text-headline,
body .v-application .text-title,
body .v-application .text-subtitle-1,
body .v-application .text-subtitle-2,
body .v-application .text-body-1,
body .v-application .text-body-2,
body .v-application .text-caption,
body .v-application .text-overline {
  font-family: 'Roboto', sans-serif !important;
  line-height: normal !important;
}

body .v-application .primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

body .v-application .primary {
  color: white !important;
  caret-color: white !important;
}

body .v-application .primary.lighten-5 {
  background-color: var(--primary-lighten-5) !important;
  border-color: var(--primary-lighten-5) !important;
}

body .v-application .primary.lighten-5 {
  color: black !important;
  caret-color: black !important;
}

body .v-application .primary.lighten-4 {
  background-color: var(--primary-lighten-4) !important;
  border-color: var(--primary-lighten-4) !important;
}

body .v-application .primary.lighten-4 {
  background-color: var(--primary-lighten-4) !important;
  border-color: var(--primary-lighten-4) !important;
}

body .v-application .primary.lighten-3 {
  background-color: var(--primary-lighten-3) !important;
  border-color: var(--primary-lighten-3) !important;
}

body .v-application .primary.lighten-2 {
  background-color: var(--primary-lighten-2) !important;
  border-color: var(--primary-lighten-2) !important;
}

body .v-application .primary.lighten-1 {
  background-color: var(--primary-lighten-1) !important;
  border-color: var(--primary-lighten-1) !important;
}

body .v-application .primary.darken-1 {
  background-color: var(--primary-darken-1) !important;
  border-color: var(--primary-darken-1) !important;
}

body .v-application .primary.darken-2 {
  background-color: var(--primary-darken-2) !important;
  border-color: var(--primary-darken-2) !important;
}

body .v-application .primary.darken-3 {
  background-color: var(--primary-darken-3) !important;
  border-color: var(--primary-darken-3) !important;
}

body .v-application .primary.darken-4 {
  background-color: var(--primary-darken-4) !important;
  border-color: var(--primary-darken-4) !important;
}

body .v-application .secondary {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}

body .v-application .secondary.lighten-5 {
  background-color: var(--secondary-lighten-5) !important;
  border-color: var(--secondary-lighten-5) !important;
}

body .v-application .secondary.lighten-4 {
  background-color: var(--secondary-lighten-4) !important;
  border-color: var(--secondary-lighten-4) !important;
}

body .v-application .secondary.lighten-3 {
  background-color: var(--secondary-lighten-3) !important;
  border-color: var(--secondary-lighten-3) !important;
}

body .v-application .secondary.lighten-2 {
  background-color: var(--secondary-lighten-2) !important;
  border-color: var(--secondary-lighten-2) !important;
}

body .v-application .secondary.lighten-1 {
  background-color: var(--secondary-lighten-1) !important;
  border-color: var(--secondary-lighten-1) !important;
}

body .v-application .secondary.darken-1 {
  background-color: var(--secondary-darken-1) !important;
  border-color: var(--secondary-darken-1) !important;
}

body .v-application .secondary.darken-2 {
  background-color: var(--secondary-darken-2) !important;
  border-color: var(--secondary-darken-2) !important;
}

body .v-application .secondary.darken-3 {
  background-color: var(--secondary-darken-3) !important;
  border-color: var(--secondary-darken-3) !important;
}

body .v-application .secondary.darken-4 {
  background-color: var(--secondary-darken-4) !important;
  border-color: var(--secondary-darken-4) !important;
}

body .v-application .accent {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
}

body .v-application .error {
  background-color: var(--error) !important;
  border-color: var(--error) !important;
}

body .v-application .info {
  background-color: var(--info) !important;
  border-color: var(--info) !important;
}

body .v-application .success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

body .v-application .warning {
  background-color: var(--warning) !important;
  border-color: var(--warning) !important;
}

/* Dark text color */
body .v-application .primary.lighten-5,
body .v-application .primary.lighten-4,
body .v-application .primary.lighten-3,
body .v-application .primary.lighten-2,
body .v-application .primary.lighten-1,
body .v-application .secondary.lighten-5,
body .v-application .secondary.lighten-4,
body .v-application .secondary.lighten-3,
body .v-application .secondary.lighten-2,
body .v-application .secondary.lighten-1,
body .v-application .accent {
  color: var(--darkTextColor) !important;
  caret-color: var(--darkTextColor) !important;
}

/* Light text color */
body .v-application .primary,
body .v-application .primary.darken-1,
body .v-application .primary.darken-2,
body .v-application .primary.darken-3,
body .v-application .primary.darken-4,
body .v-application .secondary,
body .v-application .secondary.darken-1,
body .v-application .secondary.darken-2,
body .v-application .secondary.darken-3,
body .v-application .secondary.darken-4,
body .v-application .error,
body .v-application .info,
body .v-application .success,
body .v-application .warning {
  color: var(--lightTextColor) !important;
  caret-color: (--lightTextColor) !important;
}

body .v-application .secondary--text {
  color: var(--secondary) !important;
  caret-color: var(--secondary--text) !important;
}

body .v-application .secondary--text.darken-1 {
  color: var(--secondary-darken-1) !important;
  caret-color: var(--secondary--text-darken-1) !important;
}

body .v-application .secondary--text.darken-2 {
  color: var(--secondary-darken-2) !important;
  caret-color: var(--secondary--text-darken-2) !important;
}

body .v-application .secondary--text.darken-3 {
  color: var(--secondary-darken-3) !important;
  caret-color: var(--secondary--text-darken-3) !important;
}

body .v-application .secondary--text.darken-4 {
  color: var(--secondary-darken-4) !important;
  caret-color: var(--secondary--text-darken-4) !important;
}

body .v-application .secondary--text.lighten-1 {
  color: var(--secondary-lighten-1) !important;
  caret-color: var(--secondary--text-lighten-1) !important;
}

body .v-application .secondary--text.lighten-2 {
  color: var(--secondary-lighten-2) !important;
  caret-color: var(--secondary--text-lighten-2) !important;
}

body .v-application .secondary--text.lighten-3 {
  color: var(--secondary-lighten-3) !important;
  caret-color: var(--secondary--text-lighten-3) !important;
}

body .v-application .secondary--text.lighten-4 {
  color: var(--secondary-lighten-4) !important;
  caret-color: var(--secondary--text-lighten-4) !important;
}

body .v-application .secondary--text.lighten-5 {
  color: var(--secondary-lighten-5) !important;
  caret-color: var(--secondary--text-lighten-5) !important;
}

body .v-application .primary--text {
  color: var(--primary) !important;
  caret-color: var(--primary--text) !important;
}

body .v-application .primary--text.darken-1 {
  color: var(--primary-darken-1) !important;
  caret-color: var(--primary--text-darken-1) !important;
}

body .v-application .primary--text.darken-2 {
  color: var(--primary-darken-2) !important;
  caret-color: var(--primary--text-darken-2) !important;
}

body .v-application .primary--text.darken-3 {
  color: var(--primary-darken-3) !important;
  caret-color: var(--primary--text-darken-3) !important;
}

body .v-application .primary--text.darken-4 {
  color: var(--primary-darken-4) !important;
  caret-color: var(--primary--text-darken-4) !important;
}

body .v-application .primary--text.lighten-1 {
  color: var(--primary-lighten-1) !important;
  caret-color: var(--primary--text-lighten-1) !important;
}

body .v-application .primary--text.lighten-2 {
  color: var(--primary-lighten-2) !important;
  caret-color: var(--primary--text-lighten-2) !important;
}

body .v-application .primary--text.lighten-3 {
  color: var(--primary-lighten-3) !important;
  caret-color: var(--primary--text-lighten-3) !important;
}

body .v-application .primary--text.lighten-4 {
  color: var(--primary-lighten-4) !important;
  caret-color: var(--primary--text-lighten-4) !important;
}

body .v-application .primary--text.lighten-5 {
  color: var(--primary-lighten-5) !important;
  caret-color: var(--primary--text-lighten-5) !important;
}

body .v-application .accent--text {
  color: var(--accent) !important;
  caret-color: var(--accent--text) !important;
}

body .v-application .info--text {
  color: var(--info) !important;
  caret-color: var(--info--text) !important;
}

body .v-application .success--text {
  color: var(--success) !important;
  caret-color: var(--success--text) !important;
}

body .v-application .warning--text {
  color: var(--warning) !important;
  caret-color: var(--warning--text) !important;
}

body .v-application .error--text {
  color: var(--error) !important;
  caret-color: var(--error--text) !important;
}

.shellContainerTarget {
  background: var(--pageBackground) !important;
}

/* V2.1 Changes */
/* Vuetify text field Turkish character issue */
.v-messages__message {
  line-height: inherit;
}

/* V3.0 Changes */
/* Class Name: devx-ellipsis-qlabel */
/* Components: QLabel */
/* Aciklama: DevExpress table içerisinde başlıkları 3 nokta çıkarmak için  */
.devx-ellipsis-qlabel {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

/* Class Name: devx-datagrid-header-left */
/* Components: v-container */
/* Aciklama: Devex table componentinde kolon başlıklarını sola yaslamak için*/
.devx-datagrid-header-left .dx-header-row td {
  text-align: left !important;
}

/* Devex table componentinde sol'a yaslanan başlığın iconlarının sağ tarafta çıkması için */
.devx-datagrid-header-left .dx-header-row .devx-td .dx-column-indicators {
  float: right !important;
  display: flex !important;
  flex-direction: row-reverse !important;
}


/* Class Name: devx-datagrid-header-right */
/* Components: v-container */
/* Aciklama: Devex table componentinde kolon başlıklarını sağa yaslamak için*/
.devx-datagrid-header-right .dx-header-row td {
  text-align: right !important;
}

/* Devex table componentinde sağ'a yaslanan başlığın iconlarının sol tarafta çıkması için */
.devx-datagrid-header-right .dx-header-row .devx-td .dx-column-indicators {
  float: left !important;
  display: flex !important;
  flex-direction: row-reverse !important;
}

/* Class Name: devx-datagrid-header-center */
/* Components: v-container */
/* Aciklama: Devex table componentinde kolon başlıklarını ortalamak için*/
.devx-datagrid-header-center .dx-header-row td {
  text-align: center !important;
}

/* Devex table componentinde ortalanan başlığın iconlarının sağ tarafta çıkması için */
.devx-datagrid-header-center .dx-header-row .devx-td .dx-column-indicators {
  float: right !important;
  display: flex !important;
  flex-direction: row-reverse !important;
}

/* Class Name: devx-datagrid-header-text-compact */
/* Components: v-container */
/* Aciklama: Devex table componentinde başlıkların font size'ı azaltılıyor */
.devx-datagrid-header-text-compact .dx-datagrid-text-content {
  font-size: 12px !important;
}

/* Class Name: tab-dense */
/* Components: v-tab */
/* Aciklama: v-tab yüksekliğini 36 pixel yapmak için */
.tab-dense .v-tabs-bar {
  height: 36px !important;
}

/* Class Name: tab-header-border-radius-left */
/* Components: v-tab */
/* Aciklama: vtab'ın sol kenarlarına radius vermek için */
.tab-header-border-radius-left {
  border-radius: 4px 0 0 4px !important;
}

/* Class Name: tab-header-border-radius-right */
/* Components: v-tab */
/* Aciklama: vtab'ın sağ kenarlarına radius vermek için */
.tab-header-border-radius-right {
  border-radius: 0 4px 4px 0 !important;
}

/* Overright (No Class) */
/* Components: v-tab */
/* Aciklama: vtab'ın aktif halinde yazının beyaz olması için */
.v-tab-active-text--white.v-tab--active {
  color: white !important;
}

.v-tabs.v-tab-order-tabs .v-tab:not(.v-tab--active) {
  background-color: #eeeeee;
}

.v-tabs.v-tab-order-tabs .v-tab:not(.v-tab--active) .q-label {
  color: #9b9b9b !important;
}

/* Class Name: qlightbox-BG-Color */
/* Components: qlightbox */
/* Aciklama: qlightbox pencerelerinin arka planını saydam yerine gri yapar */
.qlightbox-BG-Color {
  background-color: var(--qlightbox-bg-color) !important;
}

/* Class Name: v-table-denser */
/* Components: v-data-table */
/* Aciklama: Table td yüksekliği */
.v-table-denser.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
  height: 24px;
}

.v-table-denser.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
  font-size: 0.75rem;
}

/* Class Name: v-table-border-b-hidden */
/* Components: v-data-table */
/* Aciklama: Table sütunlar için border'ın kaldırılması */
.v-table-border-b-hidden.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row),
.v-table-border-b-hidden.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th,
.v-table-border-b-hidden.v-data-table .v-data-footer {
  border: none;
}

/* Class Name: v-table-hover-hidden */
/* Components: v-data-table */
/* Aciklama: Table satırlardaki hover efektinin kaldırılması */
.v-table-hover-hidden.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: transparent !important;
}

/* Overright (No Class) */
/* Golden Layout pencere arka plan rengini sayfanın arka plan rengine esitler */
.lm_goldenlayout {
  background: none !important;
  background-color: var(--pageBackground) !important;
}

/* Overright (No Class) */
/* Golden Layout Tab Kulakçıklarının arka plan rengi ve yükseklik düzenlemesi */
.lm_header {
  background-color: var(--lm-header-bg-color) !important;
}

.lm_header .lm_controls {
  position: absolute;
  right: 12px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

/* Overright (No Class) */
/* goldenLayout aktif olmayan kulakçıklar için */
.lm_header .lm_tab {
  font-family: "Roboto", sans-serif !important;
  font-size: 0.75rem !important;
  color: #757575;
  background: var(--goldenLayoutHeaderColor) !important;
  height: 30px;
  line-height: 32px;
}

/* Overright (No Class) */
/* goldenLayout aktif kulakçıklar için */
.lm_tab.lm_active {
  background: white !important;
  color: var(--primary) !important;
}

/* Overright (No Class) */
/*goldenLayout ayırıcı*/
.lm_splitter {
  background-color: var(--pageBackground) !important;
}

/* Overright (No Class) */
/*goldenLayout kulakçık sol boşluğu için*/
ul.lm_tabs {
  padding: 0;
}

ul.lm_tabs li:nth-child(1) {
  margin-left: 1px;
}

ul.lm_tabs li {
  border: none !important;
}

ul.lm_tabs li .lm_close_tab {
  transform: translateY(7px);
}



/* ------*/
/* PLT KAYITLARINDAN GELEN CSS */
/* dxGrid tablolarındaki satır seçimlerini yapan kolon genişliği için */
.dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

/* dxgrid tablosundaki filter butonuna tıklandığında gelen pencerenin düzenlemesi */
.dx-scrollview-content {
  height: fit-content !important;
}

.dx-texteditor-container {
  height: 40 !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row>td,
.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {
  vertical-align: middle !important;
}

body .v-application .v-tabs {
  caret-color: rgb(0, 0, 0) !important;
 }
 
/* tabs içindeki vCombobox item listin ekranın aşağısına doğru tam açılması için */
.v-tabs > .v-window {overflow: initial !important;}


/* V3.1 Changes */

/* Class Name: stickytable */
/* Components: v-data-table */
/* Aciklama: Tablonun en sağındaki Actions kolonunun yatay scroll olduğunda sticky kalması */
.stickytable table>tbody>tr>td.fixed,
.stickytable table>thead>tr>th.fixed {
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  z-index: 1;
  background: white;
  border-left: 1px solid rgb(152 29 29 / 19%);
  border-right: 1px solid rgb(152 29 29 / 19%);
}

/* Aciklama: Tablonun en solundaki Actions kolonunun yatay scroll olduğunda sticky kalması */
.stickytableleft table>tbody>tr>td.fixed,
.stickytableleft table>thead>tr>th.fixed {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 1;
  background: white;
  border-left: 1px solid rgb(152 29 29 / 19%);
  border-right: 1px solid rgb(152 29 29 / 19%);
}



/* V3.2 Changes */

/* Bileşen değer farklılıklarının hesaplanması ve bileşenlere yansıltılması*/
/* Legend Component Start */
.sftt-value-none.v-text-field fieldset,
.sftt-value-none.v-text-field--outlined fieldset {
  border: 5px solid #CFD8DC !important; /*  blue-grey-lighten-4 https://vuetifyjs.com/en/styles/colors/#material-colors */
  border-radius: 5px !important;
}

.v-input--checkbox.sftt-value-none,
.v-input--radio-group.sftt-value-none,
.v-input--switch.sftt-value-none,
.v-radio.sftt-value-none {
  border: 5px solid #CFD8DC !important;
  border-radius: 5px !important;
}

.v-data-table .sftt-value-none.v-chip {
  background-color: #CFD8DC !important;
}


.sftt-value-saved.v-text-field fieldset,
.sftt-value-saved.v-text-field--outlined fieldset {
  border: 5px solid #c5e1a5 !important;
  border-radius: 5px !important;
}

.sftt-value-updated.v-text-field fieldset,
.sftt-value-updated.v-text-field--outlined fieldset {
  border: 5px solid #81d4fa !important;
  border-radius: 5px !important;
}

.sftt-value-removed.v-text-field fieldset,
.sftt-value-removed.v-text-field--outlined fieldset {
  border: 5px solid #ef9a9a !important;
  border-radius: 5px !important;
}

.v-data-table .sftt-value-saved.v-chip {
  background-color: #c5e1a5 !important;
}

.v-data-table .sftt-value-updated.v-chip {
  background-color: #81d4fa !important;
}

.v-data-table .sftt-value-removed.v-chip {
  background-color: #ef9a9a !important;
}

.v-input--checkbox.sftt-value-saved,
.v-input--radio-group.sftt-value-saved,
.v-input--switch.sftt-value-saved,
.v-radio.sftt-value-saved {
  border: 5px solid #c5e1a5 !important;
  border-radius: 5px !important;
}

.v-input--checkbox.sftt-value-updated,
.v-input--radio-group.sftt-value-updated,
.v-input--switch.sftt-value-updated,
.v-radio.sftt-value-updated {
  border: 5px solid #81d4fa !important;
  border-radius: 5px !important;
}

.v-input--checkbox.sftt-value-removed,
.v-input--radio-group.sftt-value-removed,
.v-input--switch.sftt-value-removed,
.v-radio.sftt-value-removed {
  border: 5px solid #ef9a9a !important;
  border-radius: 5px !important;
}

.sftt-compare-value-tooltip {
  width: inherit;
}


.sftt-value-none.v-text-field--rounded fieldset,
.sftt-value-saved.v-text-field--rounded fieldset,
.sftt-value-updated.v-text-field--rounded fieldset,
.sftt-value-removed.v-text-field--rounded fieldset {
  border-radius: 28px !important;
}


/* Legend Component END */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
::-webkit-scrollbar-track {
  background: #EEEEEE !important;
  }
  
::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 8px;
  border: 4px solid #EEEEEE !important;
  background-clip: padding-box;
  }

/* STANDARD CODE FOR EVERY PLATEAU PROJECT: END */
